[submodule "buildroot"]
	path = buildroot
	url = https://github.com/buildroot/buildroot.git
[submodule "linux-on-shakti"]
	path = linux-on-shakti
	url = https://gitlab.com/shaktiproject/software/linux-on-shakti
