/dts-v1/;

/ {
  #address-cells = <2>;
  #size-cells = <2>;
  compatible = "shakti,spike-bare-dev";
  model = "shakti,spike-bare";
  cpus {
    #address-cells = <1>;
    #size-cells = <0>;
    timebase-frequency = <32768>;
    CPU0: cpu@0 {
      device_type = "cpu";
      reg = <0>;
      status = "okay";
      compatible = "riscv";
      riscv,isa = "rv64imac";
      mmu-type = "riscv,sv39";
      clock-frequency = <50000000>;
      CPU0_intc: interrupt-controller {
        #interrupt-cells = <1>;
        interrupt-controller;
        compatible = "riscv,cpu-intc";
      };
    };
  };
  memory@80000000 {
    device_type = "memory";
    reg = <0x0 0x80000000 0x0  0x10000000>;
  };
  
  soc {
    #address-cells = <2>;
    #size-cells = <2>;
    compatible = "shakti,spike-bare-soc", "simple-bus";
    ranges;
    clint:clint@2000000 {
      compatible = "riscv,clint0";
      interrupts-extended = <&CPU0_intc 3 &CPU0_intc 7 >;
      reg = <0x0 0x2000000 0x0 0xc0000>;
    };
    plic: interrupt-controller@c000000 {
      #interrupt-cells = <2>;
      compatible = "riscv,plic0";
      interrupt-controller;
      reg = <0x0 0xc000000 0x0 0x4000000>;
      interrupts-extended = <&CPU0_intc 11 &CPU0_intc 9>; //11 as to mention MACHINE MODE for CPU or 9 for SUPERVISOR MODE for CPU...
      reg-names = "control";
      riscv,max-priority = <7>;
      riscv,ndev = <29>;
    };
    ethernet: ethernet@44000{
      #address-cells = <2>;
      #size-cells = <2>;
      device_type = "network";
      compatible = "xlnx,xps-ethernetlite-3.00.a", "xlnx,xps-ethernetlite-1.00.a";
      interrupt-parent = <&plic>;
      interrupts = <29 0x1>;
      local-mac-address = [00 0a 35 00 00 00];
      phy-handle = <&phy1>;
      reg = <0x0 0x44000 0x0 0x4000>;
      xlnx,duplex = <0x1>;
      xlnx,include-global-buffers = <0x1>;
      xlnx,include-internal-loopback = <0x1>;
      xlnx,include-mdio = <0x1>;
      xlnx,instance = "axi_ethernetlite_inst";
      xlnx,rx-ping-pong = <0x1>;
      xlnx,s-axi-id-width = <0x1>;
      xlnx,tx-ping-pong = <0x1>;
      threshold = <0x40>;
      sensitivity = <6>;
      axi_ethernetlite_0_mdio: mdio {
        #address-cells = <0x1>;
        #size-cells = <0x0>;
        phy1: phy@1{
          device_type = "ethernet-phy";
          compatible = "ethernet-phy-ieee802.3-c22";
          ti,rx-internal-delay = <1000000000>;
          ti,tx-internal-delay = <1000000000>;
          ti,fifo-depth = <0x1000>;
          reg = <1>;
          status = "okay";
        };
     };
   };
   clock: oscillator {
     #clock-cells = <0>;
     compatible = "fixed-clock";
     clock-frequency = <50000000>;
   };
   spi:spi@20100{
     compatible = "shakti,spi1";
     reg = <0x0 0x20100 0x0 0x100>;
     clocks = <&clock>;			// Reference to Hardware Clock
     shakti,controller = <1>;                  // 1 for MASTER and 0 for SLAVE...
     shakti,spi-frequency = <2000000>;	// SPI Working Frequency
     shakti,lsb-first = <0x0>;                 // 1 for LSB first and 0 for MSB first... 
     shakti,communication-mode = <0x3>;        // Communication Mode 0-3 value. Other values cause the driver to fail.
     shakti,cpha = <0x0>;			 // Clock Phase
     shakti,cpol = <0x0>;			 // Clock Polarity
     shakti,cs-high = <0x1>;			// Chip-select active
     shakti,fifo-depth = <31>;			// The FIFO length value in bytes (32 level cannot be used here).
     mmc-slot@0 {
       compatible = "mmc-spi-slot";
       reg = <0>;
       voltage-ranges = <3300 3300>;
       spi-max-frequency = <2500000>;  	 // This value should be greater than shakti,spi-frequency
     };
   };
  uart0:uart@11300{                            // Driver used by OpenSBI
    compatible = "shakti,uart0";
    reg= <0x0 0x11300 0x0 0x100>;
  };
  uart1:uart@11400{                            // Disable this in Menuconfig when not using it.
    compatible = "shakti,uart1";
    reg= <0x0 0x11400 0x0 0x100>;
  };  
 };
};
