CONFIG_DEFAULT_HOSTNAME="ucbvax"
# CONFIG_CROSS_MEMORY_ATTACH is not set
CONFIG_LOG_BUF_SHIFT=16
CONFIG_PRINTK_SAFE_LOG_BUF_SHIFT=12
CONFIG_NAMESPACES=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
# CONFIG_RD_BZIP2 is not set
# CONFIG_RD_LZMA is not set
# CONFIG_RD_XZ is not set
# CONFIG_RD_LZO is not set
# CONFIG_RD_LZ4 is not set
CONFIG_EMBEDDED=y
CONFIG_SLOB=y
CONFIG_MAXPHYSMEM_2GB=y
# CONFIG_FPU is not set
CONFIG_CMDLINE="earlyprintk"
# CONFIG_BLOCK is not set
# CONFIG_COMPACTION is not set
# CONFIG_FW_LOADER is not set
# CONFIG_INPUT is not set
# CONFIG_VT is not set
# CONFIG_UNIX98_PTYS is not set
# CONFIG_LEGACY_PTYS is not set
# CONFIG_LDISC_AUTOLOAD is not set
# CONFIG_DEVMEM is not set
CONFIG_SERIAL_SIFIVE=y
CONFIG_SERIAL_SIFIVE_CONSOLE=y
CONFIG_HVC_RISCV_SBI=y
# CONFIG_HW_RANDOM is not set
# CONFIG_HWMON is not set
# CONFIG_USB_SUPPORT is not set
# CONFIG_VIRTIO_MENU is not set
# CONFIG_IOMMU_SUPPORT is not set
CONFIG_SIFIVE_PLIC=y
# CONFIG_FILE_LOCKING is not set
# CONFIG_DNOTIFY is not set
# CONFIG_INOTIFY_USER is not set
# CONFIG_PROC_KCORE is not set
CONFIG_KERNFS=y
CONFIG_PROC_FS=y
CONFIG_PROC_SYSCTL=y
# CONFIG_PROC_PAGE_MONITOR is not set
# CONFIG_PROC_CHILDREN is not set
CONFIG_SYSFS=y
CONFIG_DEVPTS_FS=y
CONFIG_DEVPTS_MULTIPLE_INSTANCES=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_TMPFS=y
CONFIG_UNIX98_PTYS=y
# CONFIG_PROC_PAGE_MONITOR is not set
CONFIG_TMPFS=y
CONFIG_TMPFS_POSIX_ACL=y
# CONFIG_TMPFS_XATTR=y
# CONFIG_MISC_FILESYSTEMS is not set
CONFIG_CRC32_SLICEBY4=y
CONFIG_PRINTK_TIME=y
# CONFIG_DEBUG_BUGVERBOSE is not set
CONFIG_STRIP_ASM_SYMS=y
CONFIG_DEBUG_SECTION_MISMATCH=y
# CONFIG_DEBUG_MISC is not set
# CONFIG_FTRACE is not set
# CONFIG_RUNTIME_TESTING_MENU is not set
CONFIG_EARLY_PRINTK=y

CONFIG_DEFAULT_HOSTNAME="ucbvax"
# CONFIG_CROSS_MEMORY_ATTACH is not set
CONFIG_NAMESPACES=y
CONFIG_BLK_DEV_INITRD=y
# CONFIG_RD_BZIP2 is not set
# CONFIG_RD_LZMA is not set
# CONFIG_RD_XZ is not set
# CONFIG_RD_LZO is not set
# CONFIG_RD_LZ4 is not set
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
# CONFIG_SYSFS_SYSCALL is not set
# CONFIG_FHANDLE is not set
# CONFIG_POSIX_TIMERS is not set
# CONFIG_PRINTK is not set
# CONFIG_BUG is not set
# CONFIG_ELF_CORE is not set
# CONFIG_BASE_FULL is not set
# CONFIG_FUTEX is not set
# CONFIG_EPOLL is not set
# CONFIG_SIGNALFD is not set
# CONFIG_TIMERFD is not set
# CONFIG_EVENTFD is not set
# CONFIG_SHMEM is not set
# CONFIG_AIO is not set
# CONFIG_IO_URING is not set
# CONFIG_ADVISE_SYSCALLS is not set
# CONFIG_MEMBARRIER is not set
# CONFIG_KALLSYMS is not set
CONFIG_EMBEDDED=y
# CONFIG_VM_EVENT_COUNTERS is not set
CONFIG_SLOB=y
CONFIG_MAXPHYSMEM_2GB=y
# CONFIG_FPU is not set
CONFIG_CMDLINE="earlyprintk"
# CONFIG_BLOCK is not set
# CONFIG_COMPACTION is not set
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
# CONFIG_FW_LOADER is not set
# CONFIG_INPUT is not set
# CONFIG_VT is not set
# CONFIG_LEGACY_PTYS is not set
# CONFIG_LDISC_AUTOLOAD is not set
# CONFIG_DEVMEM is not set
CONFIG_SERIAL_SIFIVE=y
CONFIG_SERIAL_SIFIVE_CONSOLE=y
CONFIG_HVC_RISCV_SBI=y
# CONFIG_HW_RANDOM is not set
# CONFIG_HWMON is not set
# CONFIG_USB_SUPPORT is not set
# CONFIG_VIRTIO_MENU is not set
# CONFIG_IOMMU_SUPPORT is not set
CONFIG_SIFIVE_PLIC=y
# CONFIG_FILE_LOCKING is not set
# CONFIG_DNOTIFY is not set
# CONFIG_INOTIFY_USER is not set
# CONFIG_PROC_PAGE_MONITOR is not set
# CONFIG_MISC_FILESYSTEMS is not set
CONFIG_CRC32_SLICEBY4=y
CONFIG_SYMBOLIC_ERRNAME=y
# CONFIG_ENABLE_MUST_CHECK is not set
CONFIG_STRIP_ASM_SYMS=y
# CONFIG_SECTION_MISMATCH_WARN_ONLY is not set
# CONFIG_FRAME_POINTER is not set
# CONFIG_DEBUG_MISC is not set
# CONFIG_FTRACE is not set
# CONFIG_RUNTIME_TESTING_MENU is not set

##################################################################################
# Extra

# CONFIG_DEFAULT_HOSTNAME="ucbvax"
# CONFIG_BLK_DEV_INITRD=y
# # CONFIG_RD_BZIP2 is not set
# # CONFIG_RD_LZMA is not set
# # CONFIG_RD_XZ is not set
# # CONFIG_RD_LZO is not set
# # CONFIG_RD_LZ4 is not set
# CONFIG_CC_OPTIMIZE_FOR_SIZE=y
# # CONFIG_POSIX_TIMERS is not set
# # CONFIG_BUG is not set
# # CONFIG_BASE_FULL is not set
# # CONFIG_FUTEX is not set
# # CONFIG_EPOLL is not set
# # CONFIG_SIGNALFD is not set
# # CONFIG_TIMERFD is not set
# # CONFIG_EVENTFD is not set
# # CONFIG_AIO is not set
# # CONFIG_IO_URING is not set
# # CONFIG_ADVISE_SYSCALLS is not set
# # CONFIG_MEMBARRIER is not set
# # CONFIG_KALLSYMS is not set
# CONFIG_EMBEDDED=y
# # CONFIG_VM_EVENT_COUNTERS is not set
# CONFIG_SLOB=y
# # CONFIG_MMU is not set
# CONFIG_MAXPHYSMEM_2GB=y
# # CONFIG_FPU is not set
# CONFIG_CMDLINE="earlyprintk"
# # CONFIG_BLOCK is not set
# # CONFIG_FW_LOADER is not set
# # CONFIG_INPUT_KEYBOARD is not set
# # CONFIG_INPUT_MOUSE is not set
# # CONFIG_VT is not set
# CONFIG_SERIAL_SIFIVE=y
# CONFIG_SERIAL_SIFIVE_CONSOLE=y
# # CONFIG_HW_RANDOM is not set
# # CONFIG_HWMON is not set
# # CONFIG_USB_SUPPORT is not set
# # CONFIG_VIRTIO_MENU is not set
# CONFIG_SIFIVE_PLIC=y
# # CONFIG_FILE_LOCKING is not set
# # CONFIG_DNOTIFY is not set
# # CONFIG_INOTIFY_USER is not set
# CONFIG_PROC_CHILDREN=y
# # CONFIG_MISC_FILESYSTEMS is not set
# CONFIG_CRC32_SLICEBY4=y
# CONFIG_PRINTK_TIME=y
# CONFIG_PRINTK_CALLER=y
# # CONFIG_ENABLE_MUST_CHECK is not set
# # CONFIG_SECTION_MISMATCH_WARN_ONLY is not set
# # CONFIG_FRAME_POINTER is not set
# # CONFIG_DEBUG_MISC is not set
# # CONFIG_SCHED_DEBUG is not set
# # CONFIG_FTRACE is not set
# # CONFIG_RUNTIME_TESTING_MENU is not set
